.font-anta {
    font-family: "Anta";
}

.bg {
    background-image: linear-gradient(
        to bottom,
        #2a3024,
        #1c2824,
        #162021,
        #141719,
        #0d0d0d
    );
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .filename {
        max-width: 150px; /* Adjust for smaller screens */
    }
}

@media (max-width: 320px) {
    .bg-gray-800 {
        padding: 2rem 1rem; /* Reduce padding on very small screens */
    }

    .filename,
    .text-center p {
        font-size: 0.875rem; /* Smaller font size */
    }

    h2 {
        font-size: 1.25rem; /* Smaller heading */
    }
}
.bg-modal {
    background-image: linear-gradient(
        to bottom,
        #2a3024,
        #1c2824,
        #162021,
        #141719,
        #0d0d0d
    );
}
.context-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: rgb(56, 53, 53);
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.context-menu button {
    display: block;
    background: none;
    border: none;
    width: 100%;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.context-menu button:hover {
    background-color: #666262;
}
.file-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-info {
    display: flex;
    flex-grow: 1;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-size,
.file-date {
    white-space: nowrap;
    display: none; /* Hide by default on smaller screens */
}

@media (min-width: 768px) {
    /* Show size and date on larger screens */
    .file-size,
    .file-date {
        display: inline-block;
    }
}
/* Styles for the scrollbar track */
.files-table-container::-webkit-scrollbar-track {
    background-color: #534e4e; /* Light gray track background */
    border-radius: 10px; /* Rounded corners */
}

/* Styles for the scrollbar handle */
.files-table-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Dark gray scrollbar handle */
    border-radius: 10px; /* Rounded corners */
}

/* Styles for the scrollbar itself (width and height) */
.files-table-container::-webkit-scrollbar {
    width: 8px; /* Thinner scrollbar */
    height: 8px; /* Adjust height for horizontal scrollbars if needed */
}
.filename {
    max-width: 200px; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.color {
    background-color: #31363f;
}
.modal-div {
    clip-path: polygon(
        0 22px,
        22px 0,
        100% 0,
        100% calc(100% - 22px),
        calc(100% - 22px) 100%,
        0 100%
    );
}
