/* For fullscreen or specific div adjustments */
.particles-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust based on your needs */
}

.bg3 {
    background-image: linear-gradient(
        to right top,
        #46034a,
        #3c0432,
        #2d071f,
        #1d0511,
        #000000
    );
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

body {
    color: #ccc;
    /* background: #111; */
    font-family: "Audiowide";
}
.font-virus {
    font-family: "Chakra Petch";
}
h1,
h2 {
    margin: 0;
}

a {
    color: #ccc;
}

section {
    padding: 20px;
}

.cmd-ui input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #222;
    border: none;
    color: #ddd;
    font-family: "Courier New", Courier, monospace;
}

.cmd-ui input[type="text"]:focus {
    outline: none;
    border: 1px solid #555;
}
.fade-enter {
    opacity: 0;
    background-color: #fff;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
}
.flip-horizontal {
    animation: flip-horizontal 3s infinite linear;
}
@keyframes flip-horizontal {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.flip-container {
    perspective: 1000px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 500px;
    height: 500px;
}

.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.back {
    transform: rotateY(180deg);
}
